<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Body</th>-->
<!--      <th>Answer</th>-->
<!--      <th>Author</th>-->
<!--      <th>Type</th>-->
<!--      <th>Date last asked</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to "#{question.body}", question %></td>
        <td><%= "by: #{question.author.slack_handle}" %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
